body {
    font-family: "Merriweather", serif;
    font-weight: 300;
    background-image: url("../static/paper-background4.jpg");
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

div {
    position: relative;
}

/*TODO: properly center navbar buttons*/

#navbar {
    border-right: 1px solid black;
    background-color: rgba(245, 245, 245, 0.5);
    height: 100%;
    width: 18%;
    top: 0;
    left: 0;
    align-self: left;
    position: fixed;
    display: inline-block;
    text-align: center;
}

#content {
    height: 100%;
    margin-left: 18%;
    display: inline-block;
    align-content: center;
}

#content div {
    position: fixed;
    margin-left:41%;
    margin-top: 10%;
    font-size: 100pt;
}

#content h1 {
    position: fixed;
    text-align: center;
    margin-left:35%;
    margin-top: 25%;
}

#profile {
    display: block;
    width: 60%;
    margin-left: 20%;
    margin-top: 10%;
    border-radius: 100%;
    align-self: center;
}

#navbar p {
    font-size: 100%;
}


#navbuttons { 
    display: table-cell;
    vertical-align: middle;
    font-size: 20pt;
    color: black;
}

.navbutton {
    text-align: center;
    width: 100%;
    height: 5%;
    line-height: 300%;
    display: inline-block;
    vertical-align: middle;
    transition: all 350ms ease-in;
}


#navbuttons :hover {
    background-color: rgba(225, 225, 225, 0.9);
    transition: all 350ms ease-in;
}

#contactlinks {
    margin-left: 18%;
    width: 82%;
    align-content: center;
}

#contactlinks div {
    width: 60%;
    margin-left: 20%;
}

.contacticon {
    font-size: 80pt;
    width: 20%;
    height:10%;
    margin-top: 45%;
    margin-left: 5%;
    display: inline-block;
}

#cv {
    width: 70%;
    height: 80%;
    margin-left: 24%;
    margin-top: 2%;
    margin-bottom: 2%;
}
