html{
    width:100%;
    scroll-behavior: smooth;
}

#topboi{
    height:100%;
    width:100%;
    background: rgb(50, 170, 170); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, rgba(80, 200, 200, 0.7), rgb(30, 60, 60)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, rgba(80, 200, 200, 0.7), rgb(30, 60, 60)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, rgba(80, 200, 200, 0.7), rgb(30, 60, 60)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, rgba(80, 200, 200, 0.7), rgb(30, 60, 60)); /* Standard syntax */
    background-repeat:repeat,no-repeat;
  }

#middleboi{
    height:100%;
    width:100%;
    align-content: right;
}

#profile{
    border-radius:200%;
    height:25%;
    width:25%;
    margin-left:37.5%;
    margin-top:15%;
    cursor: default;
    border-bottom: 0px;
}
#name{
    font-size: 3em;
    text-align: center;
    padding-bottom:23.3%;
}
#bio{
    text-align:center;
    margin-top:-25%;
}
#links{
    margin-top:-11%;
    margin-bottom:19.4%;
}
#oxford{
    width:67%;
    float:right;
}
#oxfordcontent{
    text-align: center;
    width:33%;
    float:left;
}
#oxfordcontent h1{
    font-weight: bold;
    float: left;
    margin-left: 2%;
    font-size: 2.5em;
}

a{
    text-decoration:none;
    color: #222;
    font-weight: bold;
    border-bottom: 2px dashed #222;
}
a:hover{
    color: #111;
    font-weight: 1300;
    font-size: 1.05em;
    border-bottom: 3px dashed #111;
}



.three.columns{
    text-align: center;
}
.titles{
    cursor: pointer;
    text-decoration: bold;
}
